---
import { Image } from 'astro:assets';
import heroImage from '../../assets/hero-img.jpg';
import { Button } from '../ui/button';
import { cn } from '@/lib/utils';
import { buttonVariants } from '@/components/ui/button';

import { getI18N } from '@/i18n';
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

import { LanguageDialog } from '../language-dialog';
---

<section class="relative sm:h-screen">
  <div
    class="absolute top-0 right-0 w-full h-full bg-[url('/hero-img_2.webp')] bg-no-repeat bg-cover bg-center -z-50">
  </div>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/60 from-50% to-transparent -z-10">
  </div>

  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-32 sm:py-48 lg:py-56">
    <div
      class="flex flex-col space-y-4 items-center py-16 sm:py-0 sm:items-start sm:justify-center text-center sm:text-left">
      <h1
        class="font-display font-bold uppercase text-4xl sm:text-6xl leading-[1.2] text-slate-100">
        {i18n.HERO_TITLE}
      </h1>
      <p
        class="text-slate-300 text-base sm:text-lg leading-6 max-w-md">
        {i18n.HERO_DESCRIPTION}
      </p>
      <div class="flex pt-4">
        <a
          href={translatePath('/conoce-a-tu-doctor/')}
          class={cn(
            buttonVariants({ size: 'lg' }),
            'flex bg-primary-500 text-primary-950 text-base hover:bg-primary-600'
          )}>{i18n.HERO_BUTTON}</a
        >
      </div>
      <LanguageDialog client:load />
    </div>
  </div>
</section>
