---
import { cn } from '@/lib/utils';
import { buttonVariants } from '@/components/ui/button';

import { getI18N } from '@/i18n';
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

import { LanguageDialog } from '../language-dialog';
---

<section
  class="relative min-h-screen sm:max-h-[90vh] bg-[url('/rios-hero.jpg')] bg-no-repeat bg-cover bg-center">
  <div
    class="absolute inset-0 bg-gradient-to-t from-black/90 from-20% to-black/0">
  </div>
  <div
    class="relative mx-auto max-w-screen-xl px-8 p-0 sm:px-6 flex items-end py-20 lg:px-8 min-h-[90vh]">
    <div>
      <div class="text-center sm:text-left">
        <h1
          class="font-display text-4xl font-bold text-white sm:text-6xl uppercase tracking-wide">
          {i18n.HERO_TITLE}
        </h1>
        <p
          class="mt-4 max-w-lg text-white text-lg sm:text-xl/relaxed">
          {i18n.HERO_DESCRIPTION}
        </p>
      </div>
      <div class="flex justify-center sm:justify-start mt-4">
        <a
          href={translatePath('/conoce-a-tu-doctor/')}
          class={cn(
            buttonVariants({ size: 'lg' }),
            'flex text-base '
          )}>{i18n.HERO_BUTTON}</a
        >
      </div>
      <LanguageDialog client:load />
    </div>
  </div>
</section>
