---
import MainLayout from "@/layouts/MainLayout.astro"
import HeaderCenteredEyebrow from "../HeaderCenteredEyebrow.astro"

const {title} = Astro.props
---

<MainLayout title={title}>
  <!-- bg-gradient-to-t from-white from-[73%] to-primary-200 to-[27%] -->
  <section class="bg-[#FAFAFA]">
    <div class="max-w-4xl px-8 mx-auto py-16 lg:py-28">
      <div class="flex flex-col gap-20">
        <HeaderCenteredEyebrow title={title}/>       
        <div class="flex flex-col gap-6 lg:gap-8 text-gray-800">
        <slot/> 
        </div>  
      </div>
    </div>
  </section>
</MainLayout>