---
import MainLayout from '@/layouts/MainLayout.astro';
import HeaderCenteredEyebrow from '@/components/HeaderCenteredEyebrow.astro';
import { ConsultationForm } from '@/components/forms/vc';
---

<MainLayout title="Virtual Consultation">
  <section class="py-16 sm:py-28 bg-neutral-200">
    <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1
        class="text-2xl sm:text-3xl sm:leading-[1.16] font-semibold tracking-tight text-primary-950">
        Virtual Consultation
      </h1>
      <ConsultationForm client:load />
    </div>
  </section>
</MainLayout>
