---
import Heading from '@/components/Heading.astro';
import { Image } from 'astro:assets';
import IntroImg from '@/assets/intro.jpg';
import IntroImg2 from '@/assets/intro_2.jpg';
import { getI18N } from '@/i18n';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="py-16 sm:py-28 bg-[#FAFAFA]">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid lg:grid-cols-2 gap-x-20 gap-y-12 items-center">
      <div class="flex flex-col space-y-8">
        <h2
          class="font-display font-semibold text-4xl sm:text-5xl sm:leading-[1.1] text-balance">
          {i18n.INTRO_TITLE}
        </h2>
        <p class="text-base sm:text-lg text-[#242528] max-w-[30em]">
          {i18n.INTRO}
        </p>
      </div>
      <div class="overflow-hidden rounded-xl shadow-lg">
        <Image
          src={IntroImg2}
          alt="Dr. Andre Rios"
          class="w-full h-full aspect-square object-cover"
        />
      </div>
    </div>
  </div>
</section>
