---
import { getRelativeLocaleUrl } from "astro:i18n"

interface Props {
  class?: string
  href: string
}

const { currentLocale = "es" } = Astro
const { href, class: className } = Astro.props
---

<a href={href} class:list={`transition-colors duration-200 ease-in-out ${[className]}`}>
  <slot />
</a>