---
import { getI18N } from '@/i18n';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
import { Image } from 'astro:assets';
import { LogoMarque } from './LogoMarquee';
// import logo1 from "@/assets/cert_logo_1.svg"
// import logo2 from "@/assets/cert_logo_2.svg"
// import logo3 from "@/assets/cert_logo_3.svg"
// import logo4 from "@/assets/cert_logo_4.svg"
// import logo5 from "@/assets/cert_logo_5.svg"
// import logo1 from '@/assets/logos/amcper.png';
// import logo3 from '@/assets/logos/asps.png';
// import logo2 from '@/assets/logos/cmcg.png';
// import logo4 from '@/assets/logos/cmcp.png';
// import logo5 from '@/assets/logos/isaps.png';

// const logoImages = [logo5, logo4, logo2, logo3, logo1];
---

<div class="bg-primary-50 py-12 sm:py-16">
  <div class="mx-auto max-w-screen-xl px-0 md:px-4">
    <h2
      class="font-display text-center text-xl sm:text-2xl font-bold text-primary-950 mb-6">
      {i18n.CERTIFICATIONS_TITLE}
    </h2>
    <LogoMarque client:visible />    
  </div>
</div>
