---
// Testimonial Section
import SectionWrapper from './layout/SectionWrapper.astro';
import TestimonialCarousel from '@/components/TestimonialCarousel';
import Heading from './Heading.astro';
import { getI18N } from '@/i18n';

// Import testimonials
import avatarCaro from '../assets/testimonials/Caro.jpg';
import avatarClaudia from '../assets/testimonials/Claudia.jpg';
import avatarJaky from '../assets/testimonials/Jaky.jpg';
import avatarMariana from '../assets/testimonials/Mariana.jpg';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const testimonials = i18n.TESTIMONIALS;
const avatars = [
  avatarCaro,
  avatarClaudia,
  avatarJaky,
  avatarMariana,
];
const title = 'Patient Success Stories';
---

<SectionWrapper
  class="bg-gradient-to-br from-primary-50 to-primary-50/40">
  <h2
    class="text-4xl sm:text-5xl text-center font-bold mb-20 text-primary-900">
    {title}
  </h2>
  <div>
    <TestimonialCarousel testimonials={testimonials} client:visible />
  </div>
</SectionWrapper>
