---

import BaseHead from '@/components/layout/BaseHead.astro';
interface Props {
	title: string;
  description?: string; 
	lang: string
}

const { title, description, lang } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
	<head>
   <BaseHead title={title} description={description} lang={lang}/>
	</head>
	<body class="overflow-x-hidden">
		<slot/>
	</body>
</html>